<h1 class="mat-h1">Import account</h1>
<p>Please input seed phrase</p>
<form [formGroup]="importForm" fxLayout="column" (submit)="importAccountAndRedirect()">
  <mat-form-field appearance="outline">
    <mat-label>Seed phrase</mat-label>
    <textarea matInput formControlName="seedPhrase"></textarea>
  </mat-form-field>
  <p>After import your account will be saved locally</p>
  <mat-form-field>
    <mat-label>Account name</mat-label>
    <input matInput type="text" formControlName="accountName">
  </mat-form-field>
  <wallet-password-form-field formControlName="password" [confirmation]="true"></wallet-password-form-field>
  <div fxLayout="row" class="actions" fxLayout.xs="column-reverse" fxLayoutGap="8px">
    <a routerLink="../login" mat-button color="primary">Login</a>
    <a routerLink="../import" mat-button color="primary">Create account</a>
    <span fxFlex="1 1 auto"></span>
    <button mat-flat-button color="primary">Import</button>
  </div>
</form>
