@import '~@angular/material/theming';

mat-card {
  margin-bottom: 16px;
}

mat-card-content {
  padding-top: 16px;
}

.transaction-info {


  .item {
    margin-bottom: 16px;

    .label {
      color: #202124;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .value {
      font-size: 15px;
      line-height: 24px;
    }
  }
}


.receipt {
  background: #00701a;
  padding: 24px;
  box-sizing: border-box;
  color: white;
  @include mat-elevation(2);
  margin-bottom: 16px;
  border-radius: 16px;

  h2 {
    margin-top: 0;
    font-weight: 100;
    text-align-last: left;
  }

  &.invalid {
    background: #ba000d;
  }

  mat-icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
  }
}
