@import '~@angular/material/theming';
@import './variables';

$custom-typography: mat-typography-config($font-family: '"Open Sans", "Helvetica Neue", sans-serif;');
@include mat-core($custom-typography);

$lto-network-explorer-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

@include angular-material-theme($lto-network-explorer-theme);


mat-card.mat-card {
  border-radius: $border-radius;
  box-sizing: border-box;
}

a:not(.mat-button) {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
