<mat-form-field [appearance]="appearance">
  <mat-label>Password</mat-label>
  <input [type]="getInputType(passwordVisible)" matInput [formControl]="passwordControl" required>
  <mat-icon matSuffix [matTooltip]="getHint(passwordVisible)" class="visibility-icon" (click)="togglePasswordVisibility()">{{getVisibilityIcon(passwordVisible)}}</mat-icon>
</mat-form-field>

<mat-form-field [appearance]="appearance" *ngIf="confirmation">
  <mat-label>Confirm password</mat-label>
  <input [type]="getInputType(confirmationVisible)" matInput [formControl]="confirmationControl" required>
  <mat-icon matSuffix [matTooltip]="getHint(confirmationVisible)" class="visibility-icon" (click)="toggleConfirmationVisiblity()">{{getVisibilityIcon(confirmationVisible)}}</mat-icon>
  <mat-error *ngIf="confirmationControl.invalid && confirmationControl.errors.notMatch">
    Does not match with password
  </mat-error>
</mat-form-field>
