<mat-card fxFlexFill>
  <mat-card-title>Unconfirmed transactions</mat-card-title>
  <ng-container [ngSuspense]="transactions$">
    <lto-http-error *ngSuspenseError="let error" [error]="error"></lto-http-error>
    <lto-loading-spinner *ngSuspensePlaceholder="300"></lto-loading-spinner>
    <ng-container *ngSuspenseSuccess="let transactions">
      <explorer-card-content-table *ngIf="transactions.length; else noTransactionsTpl">
        <explorer-transactions-table [transactions]="transactions"></explorer-transactions-table>
      </explorer-card-content-table>
    </ng-container>
  </ng-container>
</mat-card>
<ng-template #noTransactionsTpl>
  <mat-card-content>
    <p>All transactions confirmed</p>
  </mat-card-content>
</ng-template>
