.block-info {
  .item {
    .label {
      color: #202124;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .value {
      font-size: 15px;
      line-height: 24px;
    }
  }
}

h3.mat-h3 {
  margin-top: 32px;
}

.transactions-card {
  margin-bottom: 16px;
}
