<lto-content-section>
  <mat-card>
    <mat-card-title>Wallet info</mat-card-title>
    <mat-card-content>
      <div class="item">
        <div class="label">Address</div>
        <div class="value">{{ address$ | async }}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Balance</mat-card-title>
    <mat-card-content [ngSuspense]="balance$">
      <lto-http-error *ngSuspenseError="let error" [error]="error"></lto-http-error>
      <lto-loading-spinner *ngSuspensePlaceholder="500"></lto-loading-spinner>
      <ng-container *ngSuspenseSuccess="let balance">
        <div
          fxLayout="column"
          fxLayout.gt-xs="row"
          fxLayoutGap="16px"
          fxLayoutAlign="space-between"
        >
          <div class="item">
            <div class="label">Regular</div>
            <div class="value">{{ balance.regular | lto | number }}</div>
          </div>
          <div class="item">
            <div class="label">Generating</div>
            <div class="value">{{ balance.generating | lto | number }}</div>
          </div>
          <div class="item">
            <div class="label">Available</div>
            <div class="value">{{ balance.available | lto | number }}</div>
          </div>
          <div class="item">
            <div class="label">Effective</div>
            <div class="value">{{ balance.effective | lto | number }}</div>
          </div>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
  <h3 class="mat-h3">Transactions</h3>
  <ng-container *ngFor="let dataSource of (transactions$ | async)">
    <mat-card *ngIf="(dataSource.pageData$ | async)?.total !== 0">
      <mat-card-title>{{ dataSource.type | transactionLabel }}</mat-card-title>
      <explorer-card-content-table>
        <lto-transactions-table
          [transactionLinkTemplate]="transactionLinkTpl"
          [addressLinkTemplate]="addressLinkTpl"
          [walletAddress]="address$ | async"
          [directionColumn]="true"
          [transactionsType]="dataSource.type"
          [transactions]="(dataSource.pageData$ | async)?.transactions"
        ></lto-transactions-table>
      </explorer-card-content-table>
      <mat-card-actions>
        <mat-paginator
          (page)="dataSource.update($event)"
          [pageSizeOptions]="[25, 50, 100]"
          [pageSize]="dataSource.limit$ | async"
          [length]="(dataSource.pageData$ | async)?.total"
        ></mat-paginator>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</lto-content-section>

<ng-template #addressLinkTpl let-address>
  <a *ngIf="address" [routerLink]="['/', 'addresses', address]">
    <lto-responsive-text xs="5" xl="15" [text]="address"></lto-responsive-text>
  </a>
</ng-template>

<ng-template #transactionLinkTpl let-transactionId>
  <a [routerLink]="['/', 'transactions', transactionId]">
    <lto-responsive-text xs="30" xl="15" [text]="transactionId"></lto-responsive-text>
  </a>
</ng-template>
