@import 'variables.scss';

$break-small: 599px;

:host {
  display: block;
  padding-top: 64px;

  @media screen and (max-width: $break-small) {
    padding-top: 56px;
  }
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #FFF;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);

  h3 {
    margin-left: 16px;
  }
}

mat-sidenav-container {
  min-height: calc(100vh - 64px);
  background: #FFF;

  @media screen and (max-width: $break-small) {
    min-height: calc(100vh - 56px);
  }
}

mat-sidenav {
  width: 280px;

  border-right-color: transparent;

  @media screen and (max-width: $break-small) {
    border-right-color: rgba($color: #000000, $alpha: 0.12);
  }

  .navigation {
    padding-top: 16px;

    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.54);
      display: block;
      padding: 8px 24px;
      border-radius: 0 30px 30px 0;

      mat-icon {
        margin-right: 16px;
      }

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.05);
        color: rgba($color: #000000, $alpha: 0.84);
      }

      &.active {
        color: mat-color($primary-palette) !important;
        background-color: rgba($color: mat-color($primary-palette, 50), $alpha: 0.7);
      }
    }
  }

}
