<lto-content-section>
  <mat-card *ngIf="(address$ | async) as address">
    <mat-card-title>Transfers</mat-card-title>
    <mat-card-content [ngSuspense]="transfers$">
      <ng-container *ngSuspenseSuccess="let transfersPage">
        <div class="table-container">
          <table mat-table [dataSource]="transfersPage.transactions">
            <ng-container matColumnDef="direction">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let transaction"
                [ngSwitch]="address === transaction.sender"
              >
                <div class="direction" fxLayout="row" fxLayoutAlign="center center">
                  <div class="out" *ngSwitchCase="true">OUT</div>
                  <div class="in " *ngSwitchCase="false">IN</div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef><span>Id</span></th>
              <td mat-cell *matCellDef="let transaction">
                <lto-responsive-text xs="5" xl="15" [text]="transaction.id"></lto-responsive-text>
              </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef><span>Type</span></th>
              <td mat-cell *matCellDef="let transaction">
                {{ transaction.type | transactionLabel }}
              </td>
            </ng-container>

            <ng-container matColumnDef="fee">
              <th mat-header-cell *matHeaderCellDef>Fee</th>
              <td mat-cell *matCellDef="let transaction">{{ transaction.fee | lto | number }}</td>
            </ng-container>

            <ng-container matColumnDef="timestamp">
              <th mat-header-cell *matHeaderCellDef>Timestamp</th>
              <td mat-cell *matCellDef="let transaction">
                {{ transaction.timestamp | date: 'medium' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="sender">
              <th mat-header-cell *matHeaderCellDef>From</th>
              <td mat-cell *matCellDef="let transaction">
                <a href=""
                  ><lto-responsive-text
                    xs="5"
                    xl="15"
                    [text]="transaction.sender"
                  ></lto-responsive-text
                ></a>
              </td>
            </ng-container>

            <ng-container matColumnDef="recipient">
              <th mat-header-cell *matHeaderCellDef>To</th>
              <td mat-cell *matCellDef="let transaction">
                <a href=""
                  ><lto-responsive-text
                    xs="5"
                    xl="15"
                    [text]="transaction.recipient"
                  ></lto-responsive-text
                ></a>
              </td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let transaction">
                {{ transaction.amount | lto | number }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="(columns$ | async)"></tr>
            <tr mat-row *matRowDef="let row; columns: (columns$ | async)"></tr>
          </table>
        </div>
      </ng-container>
    </mat-card-content>
  </mat-card>
</lto-content-section>

<ng-template #addressLinkTpl let-address>
  <a *ngIf="address" [routerLink]="['/', 'addresses', address]">
    <lto-responsive-text xs="5" xl="15" [text]="address"></lto-responsive-text>
  </a>
</ng-template>

<ng-template #transactionLinkTpl let-transactionId>
  <a [routerLink]="['/', 'transactions', transactionId]">
    <lto-responsive-text xs="30" xl="15" [text]="transactionId"></lto-responsive-text>
  </a>
</ng-template>
